.adminNameRow{
    min-height: 92vmin;
}
.adminNameCol{
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    /*min-height: 100%;*/

    padding: 0.3rem;
    /*margin-right: 0.5rem;*/
}

.itemButton{
    width: 1.5rem;
    height: 1.5rem;
    margin: 0rem;
    padding: 0rem;
}
.itemCreateButton{
    /*width: 7rem;*/
    /*height: 3rem;*/
}
.buttonRemRole{
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    /*font-size: 2rem;*/
}