* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.spinner-grow{
    margin:50%;
    color: #6f42c1;
}

.tooltip-inner-red{
    position: absolute;
    padding: 2px 10px;
    color: white;
    border-radius: 3px;
    background-color: rgba(255, 100, 100, 0.85);
}